<div class="container" appHover appBetterhover>
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row ">
        <div class="col-xs-12 ">
            <app-server-element *ngFor="let serverElement of serverElements " [element]="serverElement "></app-server-element>
        </div>
    </div>
    <div class="row">
        <app-game-control (started)="onStarted($event)"></app-game-control>
        <div *ngFor="let c of counts;let i=index">
            <app-even *ngIf="i%2===0"></app-even>
            <app-odd *ngIf="i%2===1"></app-odd>
        </div>
    </div>
</div>